[submodule "packages/ffmpeg/build/libvpx"]
	path = packages/ffmpeg/build/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
	ignore = dirty
[submodule "packages/ffmpeg/build/opus"]
	path = packages/ffmpeg/build/opus
	url = https://github.com/xiph/opus.git
	ignore = dirty
[submodule "packages/ffmpeg/build/lame"]
	path = packages/ffmpeg/build/lame
	url = https://github.com/Kagami/lame-svn.git
	ignore = dirty
[submodule "packages/ffmpeg/build/x264"]
	path = packages/ffmpeg/build/x264
	url = https://code.videolan.org/videolan/x264.git
	ignore = dirty
[submodule "packages/ffmpeg/build/ffmpeg-mp4"]
	path = packages/ffmpeg/build/ffmpeg-mp4
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = dirty
[submodule "packages/ffmpeg/build/ffmpeg-webm"]
	path = packages/ffmpeg/build/ffmpeg-webm
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = dirty
[submodule "packages/ffmpeg/build/ffmpeg-dash"]
	path = packages/ffmpeg/build/ffmpeg-dash
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = dirty
[submodule "packages/ffmpeg/build/ffmpeg-hls"]
	path = packages/ffmpeg/build/ffmpeg-hls
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = dirty
